<launch>
<node name="orbit_face_tracking_main" pkg="rosorbitcamera" type="facetracking_no_rt.py" args="100" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n0" pkg="rosorbitcamera" type="worker.py" args="0 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n1" pkg="rosorbitcamera" type="worker.py" args="1 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n2" pkg="rosorbitcamera" type="worker.py" args="2 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n3" pkg="rosorbitcamera" type="worker.py" args="3 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n4" pkg="rosorbitcamera" type="worker.py" args="4 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n5" pkg="rosorbitcamera" type="worker.py" args="5 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n6" pkg="rosorbitcamera" type="worker.py" args="6 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n7" pkg="rosorbitcamera" type="worker.py" args="7 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n8" pkg="rosorbitcamera" type="worker.py" args="8 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n9" pkg="rosorbitcamera" type="worker.py" args="9 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n10" pkg="rosorbitcamera" type="worker.py" args="10 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n11" pkg="rosorbitcamera" type="worker.py" args="11 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n12" pkg="rosorbitcamera" type="worker.py" args="12 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n13" pkg="rosorbitcamera" type="worker.py" args="13 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n14" pkg="rosorbitcamera" type="worker.py" args="14 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n15" pkg="rosorbitcamera" type="worker.py" args="15 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n16" pkg="rosorbitcamera" type="worker.py" args="16 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n17" pkg="rosorbitcamera" type="worker.py" args="17 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n18" pkg="rosorbitcamera" type="worker.py" args="18 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n19" pkg="rosorbitcamera" type="worker.py" args="19 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n20" pkg="rosorbitcamera" type="worker.py" args="20 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n21" pkg="rosorbitcamera" type="worker.py" args="21 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n22" pkg="rosorbitcamera" type="worker.py" args="22 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n23" pkg="rosorbitcamera" type="worker.py" args="23 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n24" pkg="rosorbitcamera" type="worker.py" args="24 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n25" pkg="rosorbitcamera" type="worker.py" args="25 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n26" pkg="rosorbitcamera" type="worker.py" args="26 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n27" pkg="rosorbitcamera" type="worker.py" args="27 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n28" pkg="rosorbitcamera" type="worker.py" args="28 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n29" pkg="rosorbitcamera" type="worker.py" args="29 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n30" pkg="rosorbitcamera" type="worker.py" args="30 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n31" pkg="rosorbitcamera" type="worker.py" args="31 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n32" pkg="rosorbitcamera" type="worker.py" args="32 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n33" pkg="rosorbitcamera" type="worker.py" args="33 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n34" pkg="rosorbitcamera" type="worker.py" args="34 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n35" pkg="rosorbitcamera" type="worker.py" args="35 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n36" pkg="rosorbitcamera" type="worker.py" args="36 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n37" pkg="rosorbitcamera" type="worker.py" args="37 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n38" pkg="rosorbitcamera" type="worker.py" args="38 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n39" pkg="rosorbitcamera" type="worker.py" args="39 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n40" pkg="rosorbitcamera" type="worker.py" args="40 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n41" pkg="rosorbitcamera" type="worker.py" args="41 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n42" pkg="rosorbitcamera" type="worker.py" args="42 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n43" pkg="rosorbitcamera" type="worker.py" args="43 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n44" pkg="rosorbitcamera" type="worker.py" args="44 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n45" pkg="rosorbitcamera" type="worker.py" args="45 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n46" pkg="rosorbitcamera" type="worker.py" args="46 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n47" pkg="rosorbitcamera" type="worker.py" args="47 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n48" pkg="rosorbitcamera" type="worker.py" args="48 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n49" pkg="rosorbitcamera" type="worker.py" args="49 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n50" pkg="rosorbitcamera" type="worker.py" args="50 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n51" pkg="rosorbitcamera" type="worker.py" args="51 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n52" pkg="rosorbitcamera" type="worker.py" args="52 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n53" pkg="rosorbitcamera" type="worker.py" args="53 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n54" pkg="rosorbitcamera" type="worker.py" args="54 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n55" pkg="rosorbitcamera" type="worker.py" args="55 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n56" pkg="rosorbitcamera" type="worker.py" args="56 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n57" pkg="rosorbitcamera" type="worker.py" args="57 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n58" pkg="rosorbitcamera" type="worker.py" args="58 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n59" pkg="rosorbitcamera" type="worker.py" args="59 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n60" pkg="rosorbitcamera" type="worker.py" args="60 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n61" pkg="rosorbitcamera" type="worker.py" args="61 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n62" pkg="rosorbitcamera" type="worker.py" args="62 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n63" pkg="rosorbitcamera" type="worker.py" args="63 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n64" pkg="rosorbitcamera" type="worker.py" args="64 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n65" pkg="rosorbitcamera" type="worker.py" args="65 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n66" pkg="rosorbitcamera" type="worker.py" args="66 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n67" pkg="rosorbitcamera" type="worker.py" args="67 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n68" pkg="rosorbitcamera" type="worker.py" args="68 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n69" pkg="rosorbitcamera" type="worker.py" args="69 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n70" pkg="rosorbitcamera" type="worker.py" args="70 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n71" pkg="rosorbitcamera" type="worker.py" args="71 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n72" pkg="rosorbitcamera" type="worker.py" args="72 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n73" pkg="rosorbitcamera" type="worker.py" args="73 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n74" pkg="rosorbitcamera" type="worker.py" args="74 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n75" pkg="rosorbitcamera" type="worker.py" args="75 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n76" pkg="rosorbitcamera" type="worker.py" args="76 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n77" pkg="rosorbitcamera" type="worker.py" args="77 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n78" pkg="rosorbitcamera" type="worker.py" args="78 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n79" pkg="rosorbitcamera" type="worker.py" args="79 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n80" pkg="rosorbitcamera" type="worker.py" args="80 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n81" pkg="rosorbitcamera" type="worker.py" args="81 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n82" pkg="rosorbitcamera" type="worker.py" args="82 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n83" pkg="rosorbitcamera" type="worker.py" args="83 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n84" pkg="rosorbitcamera" type="worker.py" args="84 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n85" pkg="rosorbitcamera" type="worker.py" args="85 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n86" pkg="rosorbitcamera" type="worker.py" args="86 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n87" pkg="rosorbitcamera" type="worker.py" args="87 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n88" pkg="rosorbitcamera" type="worker.py" args="88 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n89" pkg="rosorbitcamera" type="worker.py" args="89 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n90" pkg="rosorbitcamera" type="worker.py" args="90 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n91" pkg="rosorbitcamera" type="worker.py" args="91 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n92" pkg="rosorbitcamera" type="worker.py" args="92 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n93" pkg="rosorbitcamera" type="worker.py" args="93 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n94" pkg="rosorbitcamera" type="worker.py" args="94 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n95" pkg="rosorbitcamera" type="worker.py" args="95 4" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n96" pkg="rosorbitcamera" type="worker.py" args="96 1" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n97" pkg="rosorbitcamera" type="worker.py" args="97 2" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n98" pkg="rosorbitcamera" type="worker.py" args="98 3" respawn="true" output="screen"/>
<node name="orbit_face_tracking_n99" pkg="rosorbitcamera" type="worker.py" args="99 4" respawn="true" output="screen"/>
</launch>